
*{
    
    box-sizing: border-box;
}
.w-page{
    padding: 20rpx 30rpx;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: $w-bg-color;
    .w-m-b-16{
        margin-bottom: 16rpx;
    }
    .w-m-b-10{
        margin-bottom: 10rpx;
    }
    .w-m-b-28{
        margin-bottom: 28rpx;
    }
    .w-m-b-32{
        margin-bottom: 32rpx;
    }
    .w-title-32{
        border-left: 8rpx solid $w-title-color;
        padding-left: 20rpx;
        line-height: 32rpx;
        font-color:$w-white-font;
        font-size: 32rpx;
        text-align: left;
        width: 100%;
    }
}